package views

import "github.com/antoni-ostrowski/library-syncer/internal/parser"

type TrackerListModel struct {
	Trackers []parser.Tracker
}

templ TrackerList(m TrackerListModel) {
	<div id="tracker-list" class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
		for _, v := range m.Trackers {
			@Tracker(v)
		}
	</div>
}
