package views

import "github.com/antoni-ostrowski/library-syncer/internal/parser"

templ Tracker(m parser.Tracker) {
	<div class="border">
		tracker comp { m.Id } { m.Status }
		<button class="border-2 border-red-400" hx-delete={ "/tracker?id=" + m.Id } hx-target="#tracker-list">delete</button>
	</div>
}
